.chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 20px 30px 30px 30px;
    overflow-y: auto;
}

.width-50{
    width: 100%;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
    border-radius: 12px;
    background-color: #f8f9fc;
}

.infoCards-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px 30px 10px 30px;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .chart-container {
        grid-template-columns: 1fr;
    }
}